$background: #EEE
$foreground: #FFF
$shadow: #D3D3D3



body
	background-color: $background
	padding-top: 4em
	font-family: sans-serif
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	margin: 0
	p, li
		font-size: 20px

.card
	background-color: $foreground
	box-shadow: 0px 5px 15px $shadow
	margin: 10px
	padding: 10px

.navbar
	font-family: sans-serif
	li
		font-family: inherit

.project
	h3
		height: 2em
		text-align: center
	img
		max-height: 180px
		margin: auto
	p
		text-align: center