$primary-color: #303030

=blur($radius)
  -webkit-filter: blur($radius)
  -moz-filter: blur($radius)
  -o-filter: blur($radius)
  -ms-filter: blur($radius)
  filter: blur($radius)

=transition($time)
  -webkit-transition: $time
  transition: $time

.project
  float: left
  margin: 30px
  p, h2, img
    max-width: 200px
    text-align: center
  img
    height: 200px
    @include blur(3px)
    @include transition(0.5s)
  img:hover
    @include blur(0px)
