$background: #EEE
$foreground: #FFF
$shadow: #D3D3D3



body
	background-color: $background
	font-family: sans-serif
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	margin: 0
	p, li
		font-size: 20px

.navbar
	font-family: sans-serif
	li
		font-family: inherit