body
    font-family: helvetica

.container
    display: flex
    justify-content: center

.align-centre
    align-items: center

.faint
    opacity: 0.6

#navigation
    font-size: 1.5em
    a
        text-decoration: none
        color: black
        padding-left: 50px
        padding-right: 50px
    .title
        font-size: 1.8em
        font-weight: bold
    padding-bottom: 30px

#content
    max-width: 50%

.pad-300
    height: 300px

.article
    font-family: 'Lora', serif;
    font-size: 1.2em
    ul, ol
        margin-left: 2em
    p
        padding-left: 10px
        padding-right: 10px
    img
        max-width: 40%

    table
        border: none
        margin-top: 2em
        margin-bottom: 2em
        margin-left: auto
        margin-right: auto
        border-collapse: collapse
        table-layout: fixed
        th
            letter-spacing: 2px
            border-bottom: 1px solid black
        th, td
            padding: 3px
            border-left: 1px solid #000
        td:first-child,th:first-child
            border-left: none

#article_list
    article
        h2
            margin-bottom: 5px
        p
            margin-top: 5px
            padding-left: 10px

