{% extends "layout.html" %}

{% block body %}
<div id="contents">
    {%for header in headers%}
        {{header}}
    {%endfor%}
</div>
<p class="faint">{{article.date.strftime("%d %b %Y")}}</p>
<article class="article">
    {{article.content}}
</article>
{% endblock %}
