{% extends "layout.html" %}

{% block body %}
    <div id="article_list">
        {% for article in article_list %}
        <article>
            <h2><a href="articles/{{article.name}}">{{article.name}}</a></h2>
            <span class="faint">{{article.date.strftime("%d %b %Y")}}</span>
            <p>{{article.outline}}</p>
        </article>
        {% endfor %}
    </div>
{% endblock %}
