{% extends "layout.html" %}

{% block body %}

	<h1>Tim Maddison</h1>

	<p> Email: timlyomaddison@gmail.com</p>
	<p><a href="https://gitlab.com/timlyo">Gitlab</a></p>
	<p><a href="https://twitter.com/timlyo_">Twitter</a></p>


{% endblock %}
