{% extends "layout.html" %}

{% block body %}
<div class="pad-300"></div>
<p>I am a Software Engineer with an interest in systems programming, web development, and 3D printing. </p>

<p> I try to write some interesting things, be it software or articles. One day I hope to manage it. </p>
{% endblock %}
