<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tim Maddison</title>

    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    {% if dev %}
        <script src="http://livejs.com/live.js"></script>
    {% endif %}
    {% block header %}{% endblock %}
</head>
<body>

<div id="navigation" class="container align-centre">
    <a href="/" class="title">Tim Maddison</a>
    <a href="/article_list">Articles</a>
    <a href="/contact">Contact</a>
    <a href="/projects">Projects</a>
</div>


<div class="container">
    <div id="content">
        {% block body %}
        {% endblock %}
    </div>
</div>
</body>
</html>
