!!! 5

%link{:type => "text/css", :rel => "stylesheet", :href => "style.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "bootstrap-3.3.5-dist/css/bootstrap.css"}

%meta(charset="UTF-8")
%meta{:name=>"description", :content=>"timlyo personal site"}
%meta{:name=>"keywords", :content=>"personal, projects, programming"}
%meta{:name=>"author", :content=>"Tim Maddison"}
