%nav(class="navbar navbar-inverse")
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar(class="collapse navbar-collapse")
      %ul(class="nav navbar-nav")
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "projects.html"} Projects
        %li
          %a{:href => "contact.html"} Contact
