!!!5
%head
	= File.read "partials/headerInfo.html"

%body
	%header
		= File.read "partials/navigation.html"

		%div{:class => "jumbotron"}
			%div{:class => "container"}
				%h2 C++ No nonsense guide to std::thread
				%p This tutorial assumes a basic knowledge of multithreading and is aimed at learning the basics of threading in C++

				%p
					%a{:href => "thread1.html"} Part 1 - Creating a thread

				%p
					%a{:href => "thread2.html"} Part 2 - std::thread and member functions
