!!!5
%head
	= File.read "partials/headerInfo.html"

%body
	%header
		= File.read "partials/navigation.html"

	%div{:class => "jumbotron"}
		%div{:class => "container"}
			%h2 Email
			%p timlyomaddison@gmail.com

			%h2 Github
			%a{:href => "https://github.com/timlyo"} github.com/timlyo
