!!!5
%head
	= File.read "partials/headerInfo.html"

%body
	%header
		= File.read "partials/navigation.html"

	%div{:class => "jumbotron"}
		%div{:class => "container"}
			%h1 About Me
			%p I am a second year computer science student with an interest in artifical intelligence and machine learning.
			%p This site is currently a work in progress, parts may be missing or not completed.
