!!!5
%head
	= File.read "partials/headerInfo.html"

%body
	%header
		= File.read "partials/navigation.html"

	%div.jumbotron
		%div.container
			%p Currently going through a migration (lack luster for now)
			%div.project
				%a{:href => "usefulLinks.html"}
					%h2 Useful Links
					%img(src="img/tux.png")
				%p Collection of useful articles

			%div.project
				%a{:href => "threading.html"}
					%h2 Threading Tutorial
					%img(src="img/threading.jpg")
				%p No nonsense guide to std::thread
