= File.read "partials/header.html"

%body
	%header
		= File.read "partials/navigation.html"

	%div.jumbotron
		%div.container
			%p Currently going through a migration (lack luster for now)
			%div.project
				%a{:href => "usefulLinks.html"}
					%h2 Useful Links
					%img(src="img/tux.png")
				%p Collection of useful articles

			%div.project
				%a{:href => "#"}
					%h2 Placeholder
					%img(src="img/Readability.png")
				%p There'll be a thing, honest
