!!!5
%head
	= File.read "partials/headerInfo.html"
	%meta{:name => "keywords", :content => "useful"}

%body
	%header
		= File.read "partials/navigation.html"

	%div{:class => "jumbotron"}
		%div{:class => "container"}
			%h2 Useful Links
			%p A collection of links that I've found useful over the years

			%h3 Linux
			%ul
				%li
					%a{:href => "http://cli.learncodethehardway.org/bash_cheat_sheet.pdf"} Cheat sheet
				%li
					%a{:href => "https://training.github.com/kit/downloads/github-git-cheat-sheet.pdf"} Git cheat sheet
				%li
					%a{:href => "http://www.makerdyne.com/blog/reading-linux-system-info-with-c/"} Reading system info

			%h3 Programming
			%ul
				%li
					%a{:href => "http://blog.andreaskahler.com/2009/06/creating-icosphere-mesh-in-code.html" } Programatically creating an icosphere mesh
				%li
					%a{:href => "http://www.glprogramming.com/red/"} OpenGL red book
				%li
					%a{:href => "http://www.r2d3.us/visual-intro-to-machine-learning-part-1/"} Visual machine learning

			%h3 Other stuff
			%ul
				%li
					%a{:href => "http://www.stilldrinking.org/programming-sucks"} Programming sucks
				%li
					%a{:href => "http://gitxiv.com/"} Gitxiv: Collaborative open Computer Science

			%h3 Humour
			%ul
				%li
					%a{:href => "https://www.addedbytes.com/blog/if-php-were-british/"} If PHP were British
