{% extends "partials/layout.html" %}

{% block headerAdditionals %}
    <link href='{{url_for("static", filename="css/articleStyle.css")}}' rel='stylesheet' type='text/css'>
    <link href='{{url_for("static", filename="css/codeStyle.css")}}' rel='stylesheet' type='text/css'>

    {% if info["latex"] %}
        <script type="text/javascript" async
                src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
    {% endif %}
{% endblock %}

{% block title %}
    <title>{{ info.title }}</title>
{% endblock %}

{% block body %}
<div class='container'>
    <div class="article card col-md-8">
        {{ html | safe }}
    </div>

    {% if info["related"] %}
        <div class="article card col-md-3 col-md-offset-1" id="sideBar">
            <h3>Related Articles</h3>
            {% for article in related %}
                 <a href="{{article.url}}">{{article.title}}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
