{% extends "partials/layout.html" %}

{% block headerAdditionals %}
<link href='{{url_for("static", filename="css/articleStyle.css")}}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
<div class='container'>
    <div class="col card">
        <h1>Articles</h1>

        <p>A collection of my thoughts and musings</p>
        {% for article in articles %}
        <div class="articleTitle">
            <a href="{{ 'articles/' + article.name }}">
                <h3>
                    {{article.title}}
                    {%if article.date %}
                        <small>{{article.date.strftime("%Y/%m/%d")}}</small>
                    {% endif %}
                </h3>
            </a>
            {% if article.outline %}
                <p> {{article.outline}} </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
