{% extends "partials/layout.html" %}
{% block body %}
<div class='ui container'>
    <div class="ui segment relaxed divided items">
        {% for project in projects %}

        <div class="item ">
            <div class="image">
                <a class="header" href='{{project["url"]}}'>
                    <img src='{{project["img"]}}' class="ui small image">
                </a>
            </div>
            <div class="content">
                <a class="header" href='{{project["url"]}}'>{{project["title"]}}</a>
                <p>{{project["text"]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}