{% extends "partials/layout.html" %}

{% block headerAdditionals %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.css"/>
{% endblock  %}

{% block body %}
<div class="container">
    <div class="col-md-10 card">
        <ol>
            <li>Download and install sketchup.
                <ul>
                    <li><a href="http://www.sketchup.com/download/sketchup-make/windows/thank-you">Windows</a></li>
                    <li><a href="http://www.sketchup.com/download/sketchup-make/mac/thank-you">Mac</a></li>
                </ul>
            <li>Download a file below</li>
            <li>Open the file in sketchup</li>
            <li>Choose the architecture millimeters setting</li>
            <li>Rename your file to something unique</li>
            <li>Upload below</li>
        </ol>

        <br>

        <h2>Choose one of these templates</h2>
        <div class="col-md-3">
            <a href="/files/hexagonal.skp">
                <h3>Hexagonal</h3>
            </a>
        </div>

        <div class="col-md-3">
            <a href="/files/square.skp">
                <h3>Square</h3>
            </a>
        </div>

        <div class="col-md-3">
            <a href="/files/cylinder.skp">
                <h3>Cylinder</h3>
            </a>
        </div>
    </div>

    <div class="col-md-12 card">
        <h2>Upload here when you're done</h2>
        <form action="/upload" method="post" enctype="multipart/form-data" class="dropzone">
            <div class="fallback">
                <p>Error, loading upload form.</p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
