{% extends "partials/layout.html" %}
{% block body %}
<div class="container">
    <div class="col-md-10 card">
        <h1>Woggles</h1>

        <or>
            <li>Download and install sketchup. <a href="http://www.sketchup.com/download/sketchup-make/windows/thank-you">Windows</a>, <a href="http://www.sketchup.com/download/sketchup-make/mac/thank-you">Mac</a></li>
            <li>Choose a setting that uses mm</li>
            <li>Download a file below</li>
        </or>
    </div>

    <div class="col-md-3 card">
        <h3>Hexagonal</h3>
    </div>

    <div class="col-md-3 card">
        <h3>Square</h3>
    </div>

    <div class="col-md-3 card">
        <h3>Circular</h3>
    </div>
</div>
{% endblock %}
